include source/solstice/resources/icons/*.*
include source/solstice/resources/icons/color/*.*
include source/solstice/resources/images/*.*
include source/solstice/*.json
include source/solstice/pipeline/dcc/houdini/houdini_bootstrap.bat
include source/solstice/pipeline/dcc/houdini/OPMenu.xml