include solstice/__logging__.ini
include solstice/changelog.yml
include solstice/resources/icons/color/*.*
include solstice/resources/icons/logos/*.*
include solstice/resources/icons/shelf/*.*
include solstice/resources/icons/lightrigs/*.*
include solstice/resources/images/*.*