# ===================================================================
# solstice requirements file
# ===================================================================
artellalauncher
artellapipe
tpMayaLib