# ===================================================================
# solstice requirements file for GitHub release
# ===================================================================
artellapipe
tpMayaLib