# ===================================================================
# solstice-core requirements file
# ===================================================================
Qt.py
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
python-json-logger
tpPyUtils
tpDccLib
artellapipe
sentry-sdk==0.12.2